<li>
  <h3>
    <%= game.level.name %>
  </h3>
  <p><%= game.level.description %></p>
  <p><%= game.instance_status %></p>
  <p><%= game.url %></p>
  <p><%= game.created_at %></p>
  <%= render partial: 'verify_capture_code', locals: {game: game} %>
</li>
